*{
  padding: 0;
  margin: 0;
  border:0;
}
body{
  background-color: #F8F8F8;
}
nav{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 72px;
  background-color: #A5C926;
}
.link{
  text-decoration: none;
  color: white;
  font-size: 14px;
padding: 10px 40px;
margin-top: 31px;
}

.chart{
margin-left: 500px;
}
.greentext{
  color: #A5C926;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 16px;
}
h1{
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 39px;
  line-height: 48px;
}
.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(MainPhoto.png);
  width: 100%;
  height: 640px;
}
.main_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width:570px;
  height: 308px;
  border-radius: 16px;
}
.btn{
  width: 153px;
  height: 48px;
  border-radius: 24px;
  background-color: #A5C926;
  color: white;
  align-self: center;
  font-size: 14px;
  line-height: 24px;
}
.product_type_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
}
.product_type_stuffed{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  margin: 15px;
  height: 188px;
  background-color: #FFC12C;
  border-radius: 16px;
  color: white;
}
.product_type_wooden{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 570px;
  height: 188px;
  background-color: #FB416B;
  border-radius: 16px;
  color: white;
}
.teddy, .flower{
  margin-bottom: 85px;
}
h2{
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
}
.stuffed{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
}
.wooden{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40px;
}
.btnShop{
width:112px;
height: 40px;
background-color: white;
border-radius: 20px;
margin: 10px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}
p{
font-size: 14px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
line-height: 24px;
}
.range{
  width: 100%;
  height: 588px;
}
.toys_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stuffed_animals_block{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  width: 270px;
  height: 328px;
  border-radius: 16px ;
  margin: 10px;
}
.toySize{
height: 182px;
margin: 15px;
}
.indent{
  margin-left: 90px;
}
.title_size{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
font-family: 'Varela Round', sans-serif;
text-align: center;
}
.prise_size{
height: 24px;
width: 92px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
background: #A5C926;
border-radius: 16px;
color: white;
text-align: center;
margin: 5px;
}
.delivery_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(deliver.png);
  height: 464px;
  width: 100%;
}
.delivery{
  background-color: white;
  width: 350px;
  height: 300px;
  border-radius: 16px;

}
.heading_text{
  font-size: 29px;
  text-align: center;
  color: #A5C926;
}
.text{
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  padding: 10px;

}
.information_container{
  height: 872px;
  width: 100%;
}
.information{
  margin: 135px;
}
.header_infornation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information_block{
  display: flex;
  justify-content: center;
}
.green{
  color: #A5C926;
}
.show{
  background-color: #F8F8F8;
  color: #A5C926;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.information_text_block{
  padding: 15px;
}

.instagram{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta_photo{
display: flex;
justify-content: center;
}
footer{
  width: 100%;
  height: 50px;
  background-color: #A5C926;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.contacts_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons_slide{
  display: flex;
  justify-content: space-around;
}
.abouttext{
  text-align: center;
  margin: 10px;
  font-family: 'Varela Round', sans-serif;
}
.shop_container{
  display: flex;
  justify-content: center;
}
.shop_container_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px;
  background-color: #A5C926;
  padding: 50px;
  border-radius: 24px;
  font-family: 'Varela Round', sans-serif;
}
a{
    color: #A5C926;
    font-size: 18px;
    line-height: 16px;
}

 /* adaptive */
@media all and (max-width: 800px){
  h1{
    font-size: 18px;
  line-height: 20px;
  }
  .main_text{
    width:45%;
    height: 45%;
  }
  nav{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .link{
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 5px;
  }
  .chart{
    margin-left: 0px;
    }
    .product_type_container{
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .product_type_stuffed{
      width: 80%;
      margin: 15px;
      height: 30vh;
    }
    .product_type_wooden{
      margin: 15px;
      width: 80%;
      height: 30vh;
    }
    .teddy, .flower{
      margin-bottom: 35px;
      width: 100px;
      height: 100px;
    }
    h2{
      font-size: 14px;
      line-height: 15px;
      text-align: center;
    }
    .stuffed{
      margin: 10px;
    }
    .wooden{
      margin: 10px;
    }
    p{
    font-size: 12px;
    line-height: 24px;
    }
    .range{
      width: 100%;
      height: 100%;
    }
    .toys_container{
      display: flex;
      flex-direction:column;
      align-items: center;
    }
    .indent{
      text-align: center;
      font-size: 24px;
      margin-left: 0;
    }
    .spider{
      width: 284px;
      height: 200px;
    }
    .information_block{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
    .information{
      margin: auto;
    }   
.current{
  margin-top: 10px;
  font-size: 25px;
}
.abouttext{
  font-size: 15px;
}
.shop_container{
  display: flex;
  flex-direction: column;
}
}